# dependencies (bun install)
node_modules
**/node_modules

/apps

# output
out
dist
build
*.tgz

# dotenv environment variable files
.env

# caches
.cache

# Finder (MacOS) folder config
.DS_Store
playground
_playground